body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  height: 30px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartImg {
  width: 200px;
  height: 200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image {
  height: 200px;
  width: 200px;
}
.product {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid maroon; */
  border-radius: 10px;
  padding: 20px;
}
.product h3 {
  font-size: 20px;
  text-shadow: 0 0 3px orange;
}
.single_component {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  text-shadow: 0 0 3px orange;
}

#title {
  font-family: 'Lemon, curisve';
}
.description {
  display: flex;
  flex-direction: column;
  align-self: auto;
}
