body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-around;
  /* height: 80px; */
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartImg {
  width: 200px;
  height: 200px;
}
/* #products {
  display: flex; */
/* flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 100px;
} */
